<div style="padding: 1rem 0;">
    <h1><b>Pizzeria Store</b></h1>
    <div class="row" style="display: table;">
        <!-- Will probably put an ngfor structural directive here -->
        <div class="col-md-6" style="margin-bottom: 2rem;">
            <app-pizza-card ></app-pizza-card>
        </div>
        <div class="col-md-6" style="margin-bottom: 2rem;">
            <app-pizza-card ></app-pizza-card>
        </div>
        <div class="col-md-6" style="margin-bottom: 2rem;">
            <app-pizza-card ></app-pizza-card>
        </div>
        
    </div>
</div>
