<div style="padding: 1rem 0;">
  <h1 style="margin-left: 1rem;"><b>Orders</b></h1>
    <div>
        <input style="width: 100%;" type="text" class="form-control" placeholder="Search" />

        <!-- Mat-Table -->
        <table style="margin-top: 1rem;" mat-table [dataSource]="orders" class="mat-elevation-z8">
            <!-- Customer Name Column -->
            <ng-container matColumnDef="customer_name">
              <th mat-header-cell *matHeaderCellDef> <b>Customer</b> </th>
              <td mat-cell *matCellDef="let order"> {{order.customer_name}} </td>
            </ng-container>
    
            <!-- Date Column -->
            <ng-container matColumnDef="order_date">
              <th mat-header-cell *matHeaderCellDef> <b>Date</b> </th>
              <td mat-cell *matCellDef="let order"> {{order.order_date}} </td>
            </ng-container>

            <!-- Gross Total Column -->
            <ng-container matColumnDef="gross_total">
              <th mat-header-cell *matHeaderCellDef> <b>Gross Total</b> </th>
              <td mat-cell *matCellDef="let order"> {{order.gross_total}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>

<app-spinner *ngIf='isloading'></app-spinner>
