<div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center;justify-content: center; padding: 8rem 0;">
    <h1><b>Add Pizza</b></h1>
    <mat-card>
        <div>
            <p>Pizza Name</p>
            <input [(ngModel)]="name" type="text" class="form-control">
        </div>
        <div style="margin-top:1rem;">
            <p>Price</p>
            <input [(ngModel)]="price" type="text" class="form-control">
        </div>
        <div style="display: flex; justify-content: space-evenly;margin-top:2rem">
            <button (click)="onSavePressed()" mat-raised-button color="primary">SAVE</button>
            <button *ngIf="show_delete" (click)="onDeletePressed()" mat-raised-button color="warn">DELETE</button>
        </div>
    </mat-card>
</div>

<app-spinner *ngIf="isloading"></app-spinner>