<div class="login-container">
    <mat-card class="login-components">
        <div style="text-align: center; margin: 0 4rem;" class="form-group">
            <h3 style="text-align: center; font-weight: 400; font-size: 2.5rem;"><b>WELCOME BACK</b></h3>
            <div style="text-align: start;">
                <p>Email:</p>
                <input class="form-control" type="text" placeholder="Please Enter Your Email..." />
            </div>
            <div style="margin-top: 1rem;text-align: start;">
                <p>Password:</p>
                <input class="form-control" type="password" placeholder="Please Enter Your Password..." /><br/>
            </div>
            <button style="width: 50%;" mat-raised-button color="primary">LOGIN</button>
            <div style="display: flex; justify-content: space-evenly; margin-top: 2rem;" class="row">
                <a class="mr-2" routerLink="forgot-password">I Forgot My Password</a>
                <a routerLink='registration'>SignUp</a>
            </div>
        </div>
    </mat-card>
</div>
