<div style="padding: 1rem 0;">
  <h1><b>Order Summary</b></h1>
  <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
      <!-- Item Column -->
      <ng-container matColumnDef="item">
        <!-- <th mat-header-cell *matHeaderCellDef> Item </th> -->
        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>
    
      <!-- Cost Column -->
      <ng-container matColumnDef="cost">
        <!-- <th mat-header-cell *matHeaderCellDef> Cost </th> -->
        <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="disclaimer">
        <td mat-footer-cell *matHeaderCellDef colspan="2">
          <b>Your Order has 6 Items</b>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['disclaimer']"></tr>
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <div style="display: flex; justify-content:space-around; margin-top: 1rem;">
      <button (click)="onDeletePressed()" *ngIf="show_delete" mat-raised-button color="warn">DELETE</button>
    </div>
</div>
