
<mat-card>
    <mat-card-header>
      <mat-card-title>{{pizza.name}}</mat-card-title>
      <mat-card-subtitle style="color:green">${{pizza.price}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/diwala-recruitment.appspot.com/o/pizza-2068272_1920.jpg?alt=media&token=ccfeef5c-43b2-41b0-87ab-700359f8f284">
    <mat-card-actions style="text-align: center; margin-bottom: 0.5rem;">
      <button class="inline_button" (click)="addToCart()" *ngIf="one_button" style="width:100%" mat-raised-button color="primary">ADD TO CART</button>
      <div *ngIf="!one_button" style="display: flex;">
        <button class="inline_button" (click)="removeQuantity()" mat-raised-button color="primary">-</button>
        <div class="cart-items">
            <p>{{in_cart | async}} in cart</p>
        </div>
        <button class="inline_button" (click)="addQuantity()" style="margin: 0 0" mat-raised-button color="primary">+</button>
      </div>
    </mat-card-actions>
  </mat-card>